{% extends 'jobapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Target Hosts Info
{% endblock %}

{% block main_block %}
	<div style="margin-top:15px;">
		<h6 style="color: rgb(0, 132, 228)"><strong>{{appname}} - {{setname}} - {{modulename}}</strong></h6>
    </div>

     <div class="table-responsive">
        <table class="table table-striped table-condensed table-border">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>HOSTNAME</td>
                    <td>SYSTEM(BKING)</td>
                    <td>SYSTEM(SALT)</td>
                    <td>IP(BKING)</td>
                    <td>IP(SALT)</td>
                    <td>HOST STATUS</td>
                    <td>DETAIL</td>
                </tr>
            </thead>
            <tbody id="id_running_jobs_table">
            
            {% for host in hosts %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ host.HostName }}</td>
                    <td>{{ host.OSName }}</td>
                    <td>{{ host.osname_salt }}</td>
                    <td>{{ host.InnerIP }}</td>
                    <td>{{ host.ip_salt }}</td>
                    <td>{{ host.status }}</td>
                    <td><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Detail</button></td>
                </tr>
            {% endfor %}
           
            </tbody>
        </table>
    </div>


{% endblock %}